*{
    margin: 0%;
    padding: 0px;
    font-family: "Inter", sans-serif;
}
body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(img3.jpg) no-repeat;
        background-size: cover; 
        background-position: center;
        color: black;
    }
    .container h3{
        padding: 20px;
    }
    .container td{
        color: white;
    }

table {
    background: transparent;
    backdrop-filter: blur(20px);
    color: rgb(31, 31, 29);
    padding: 20px 50px;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
}

#username, #password, #email {
    height: 30px;
    width: 200px;
    text-align: center;
}

#submit {
    height: 40px;
    width: 100px;
    margin-left: 50px;
    margin-top: 30px;
    text-decoration: none;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 20px;
}

h3 {
    text-align: center;
}

td {
    padding: 10px;
    margin-top: 20px;
}
input{
    border: none;
    border-radius: 40px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}